@font-face {
    font-family: Silkscreen;
    src: url('./Silkscreen/slkscr.ttf');
}

*{
	margin:0;
	padding:0;
	overflow:hidden;	
	font-family:Silkscreen;
}

#gridLayoutBody{
	margin:auto;
	padding:0;
	
	height:100%;
	
	overflow:hidden;
	
	background:#9fffad url("./../images/gridLayout/gridBackground.png") no-repeat center top;
	background-size: auto 100%;
}

a{
	display: block;
	width:100%!important;
	height:100%!important;
}

#gridLayoutBackButton{
	background:#0000 url("./../images/gridLayout//gridLayoutBackButton.png") no-repeat center top;
	background-size: 100% 100%;

}

#gridLayoutTextInput{
	position:absolute;
	top:0px;
	margin:0;
	padding:0;
}

#gridLayoutSaveButton{
	position:absolute;
	top:0px;
	background:#0000 url("./../images/gridLayout/gridLayoutSaveButton.png") no-repeat center top;
	background-size: 100% 100%;
}

#gridLayoutSettingsButton{
	position:absolute;
	top:0px;
	background:#0000 url("./../images/gridLayout/gridLayoutSettingsButton.png") no-repeat center top;
	background-size: 100% 100%;
}