@font-face {
    font-family: Silkscreen;
    src: url('./Silkscreen/slkscr.ttf');
}

*{
	margin:0;
	padding:0;
	overflow-y:auto;
	overflow-x:hidden;
	
	font-family:Silkscreen;
	
	background-color:#f6f1b4;
}

.buttonContainer {
	background:#f6f1b4 url("plantLogEntryLayout.png") no-repeat center top!importan;
	background-size:90% auto;
	
	margin:2% 0 2% 0;
	
	overflow-x:hidden;
}

.buttonText{
	white-space: nowrap;
	
	background-color:#fdf9cf;
}